@font-face {
  font-family: 'porta';
  src: url('../fonts/pluton.eot?49924914');
  src: url('../fonts/pluton.eot?49924914#iefix') format('embedded-opentype'),
       url('../fonts/pluton.woff?49924914') format('woff'),
       url('../fonts/pluton.ttf?49924914') format('truetype'),
       url('../fonts/pluton.svg?49924914#porta') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-twitter-circled:before { content: '\e807'; } /* '' */

/* STYLE */
/* Thumbnails - Predefined bootstrap's thumbnail class. */

 .thumbnail {
    width:100%;
    height:100%;
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #191a1c;
}
.thumbnail .more {
    display:block;
    z-index:4;
    position:absolute;
    top:-100px;
    left:50%;
    margin:0 auto;
    margin-left:-41px;
    width:80px;
    height:80px;
    font-size:40px;
    color:#fff;
    text-decoration:none;
    line-height: 70px;
    text-align: center;
}
.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h3, 
.thumbnail p {
    margin:0;
    padding:0;
    position:relative;
    z-index:4;
}
.thumbnail h3 {
    color: #9f4dc6;
    margin-top:10px;
    font-size:20px;
}
.thumbnail > p {
    padding-bottom:20px;
}
.thumbnail .mask {
    opacity:0;
    filter: alpha(opacity=85);
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#181A1C;
    position:absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top:0;
}

/*Socail icons*/

 .social {
    list-style: none;
    float: none;
    position:relative;
    margin:5px 50px 5px 5px; auto;
}
.social li {
    display:inline-block;
    line-height: 32px;
    font-family:'Porta';
    font-size: 32px;
    padding:0 5px;
}
.social li a {
    margin:0;
    padding:-1;
    width:32px;
    height:32px;
    color: #9f4dc6;
}
.social li a:hover {
    color:#181A1C;
}

/*About*/

 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a, {
    color:#fff;
}
/*.team .thumbnail .mask {
    background: #ff8181;
}*/
/*.team .thumbnail .mask h2 {
    margin-top:20%;
}*/
.team .thumbnail .mask, .team .thumbnail .mask h3, .team .thumbnail .mask p, .team .thumbnail:hover h3, .team .thumbnail:hover .social a:hover {
    color:#fff;
}
/*.about-text {
    margin-top:30px;
}
.about-text p {
    padding:0;
    font-size:16px;
}

.mask p {
    font-size: 22px;
}*/
